<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="internship" translate="label" sortOrder="10">
            <label>Amasty</label>
        </tab>
        <section id="customUrl" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>URL settings</label>
            <tab>internship</tab>
            <resource>Internship_Module::internship_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="enter_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom Frontend Url</label>
                    <comment>Enter some url</comment>
                </field>
            </group>
        </section>
    </system>
</config>
