<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Checkout\Controller\Cart\Add">
        <plugin name="Internship_Module_Plugin" type="Internship\Module\Plugin\AddToCart" sortOrder="10"
                disabled="false"/>
    </type>

    <type name="Magento\SalesRule\Model\Quote\Discount">
        <plugin name="Internship_Module_Plugin_Discount" type="Internship\Module\Plugin\CountWithDiscount"
                sortOrder="10"
                disabled="false"/>
    </type>

    <type name="Magento\SalesRule\Model\Quote\Discount">
        <plugin name="Internship_Module_Plugin_Discount_NewPrice" type="Internship\Module\Plugin\Repricing"
                sortOrder="10"
                disabled="false"/>
    </type>
</config>